!!!
%html
  %head
    %title Getting Started Extension's Popup
    %link{:href => 'css/bootstrap.css', :rel => 'stylesheet', :type => 'text/css'}/
    %link{:href => 'css/font-awesome.min.css', :rel => 'stylesheet', :type => 'text/css'}/
    %link{:href => 'css/style.css', :rel => 'stylesheet', :type => 'text/css'}/
  .url-info-input
    .input-group.url-current
      %span.input-group-addon
        %i.icon-link
      %input#current-url.form-control{:type => 'text'}/
    .input-group.url-source
      %span.input-group-addon
        %i.icon-globe
      %input#url-source.form-control{:placeholder => 'Source', :type => 'text'}/
    .input-group.url-campaign
      %span.input-group-addon
        %i.icon-bullhorn
      %input#url-campaign.form-control{:placeholder => 'Campaign', :type => 'text'}/
  .bottom-area
    %button#shorten-url.btn.btn-primary.btn-lg.btn-block{:type => 'button'} Shorten URL

    #short-url
      %input.form-control{:type => 'text', :readonly => ''}
    .loading
      %i.icon-spinner.icon-spin.icon-large

  %script{:src => 'js/jquery.js'}
  %script{:src => 'js/popup.js'}
  %body
