!!!
%html
  %head
    %title Getting Started Extension's Popup
    %link{:href => 'css/bootstrap.min.css', :rel => 'stylesheet', :type => 'text/css'}/
    %link{:href => 'css/font-awesome.min.css', :rel => 'stylesheet', :type => 'text/css'}/
    %link{:href => 'css/style.css', :rel => 'stylesheet', :type => 'text/css'}/
  .url-info-input
    .input-group
      %span.input-group-addon
        %i.icon-link
      %input#current-url.form-control{:type => 'text'}/
    .input-group
      %span.input-group-addon
        %i.icon-globe
      %input#url-source.form-control{:placeholder => 'Source', :type => 'text'}/
    .input-group
      %span.input-group-addon
        %i.icon-bullhorn
      %input#url-campaign.form-control{:placeholder => 'Campaign', :type => 'text'}/
  #short-url
  .bottom-area
    %button#shorten-url.btn.btn-primary{:type => 'button'} Shorten URL
    .alert.alert-danger
      Error thing man

  %script{:src => 'js/jquery.js'}
  %script{:src => 'js/popup.js'}
  %body
